[submodule "mcp-server-qdrant"]
	path = mcp-server-qdrant
	url = https://github.com/qdrant/mcp-server-qdrant
[submodule "servers"]
	path = servers
	url = https://github.com/modelcontextprotocol/servers.git
